@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это пример реализации тестового <a href="https://trello.com/c/vzq4KM80/2-%D1%82%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D0%B9-%D0%B2%D0%B5%D0%B1-%D1%81%D0%B0%D0%B9%D1%82">задания</a>.</p>
    
</div>
<div class="text-left">
    <p>
        Создать веб-сайт, включающий поддержку Forms аутентификации (с возможностью быстрого переключения на Windows аутентификацию).
    </p>
    <p>
        На сайте должна быть главная страница, страница администрирования, конфигурирования ролей.
        При создании БД в ней по умолчанию должен быть создан пользователь с ролью Администратор.
    </p>
    <p>
        При входе на сайт - система спрашивает логин и пароль, либо предлагает зарегистрироваться.
    </p>
    <p>
        При регистрации указывается ФИО, логин, пароль, почтовый ящик, по умолчанию назначается роль Пользователь.
        После чего выполняется вход на сайт, в пункте меню должна быть доступна страница Администрирование - Пользователи (для пользователей с ролью Администратор), если под пользователем - просто сообщение на главной странице - добро пожаловать.
    </p>
    <p>
        Пользователь с ролью Администратор - может перейти в Администрирование-Пользователи, там увидеть таблицу пользователей, выполнить редактирование любой учетной записи
    </p>
</div>

